*.vscode
*.o
bin/coff2flat
bin/coff2noff
bin/disassemble
bin/*.o
filesys/Makefile.depends
filesys/nachos
filesys/switch*.s
filesys/*.o
network/Makefile.depends
network/nachos
network/switch*.s
network/*.o
threads/Makefile.depends
threads/nachos
threads/switch*.s
threads/*.o
userland/filetest
userland/halt
userland/matmult
userland/shell
userland/sort
userland/tiny shell
userland/*.coff
userprog/Makefile.depends
userprog/nachos
userprog/switch*.s
userprog/*.o
vmem/Makefile.depends
vmem/nachos
vmem/switch*.s
vmem/*.o


userland/echo
userland/tiny_shell
userland/touch

bin/coff2flat
bin/coff2noff
bin/disassemble
bin/readnoff
filesys/Makefile.depends
filesys/nachos
network/Makefile.depends
network/nachos
threads/Makefile.depends
threads/nachos
userprog/Makefile.depends
userprog/nachos
vmem/Makefile.depends
vmem/nachos
